<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= render :partial => 'shared/error_messages', :locals => {:object => @user} %>
    </div>
  </div>

  <div class="row bottom-10px">
    <div class="form-group">
      <div class="col-md-4"><%= f.label :email %></div>
      <div class="col-md-4"><%= f.text_field :email, :class => 'form-control' %></div>
    </div>
  </div>

  <div class="row bottom-10px">
    <div class="form-group">
      <div class="col-md-4"><%= f.label :phone %></div>
      <div class="col-md-4"><%= f.text_field :phone, :class => 'form-control' %></div>
    </div>
  </div>

  <div class="row bottom-10px">
    <div class="form-group">
      <div class="col-md-4"><%= f.label :password %></div>
      <div class="col-md-4"><%= f.password_field :password, :class => 'form-control' %></div>
    </div>
  </div>

  <div class="row bottom-10px">
    <div class="form-group">
      <div class="col-md-4"><%= f.label :password_confirmation %></div>
      <div class="col-md-4"><%= f.password_field :password_confirmation, :class => 'form-control' %></div>
    </div>
  </div>

  <div class="row bottom-10px">
    <div class="form-group">
      <div class="col-md-4"><%= f.label :notify, 'Notify me of the next arbitrage opportunity' %></div>
      <div class="col-md-4"><%= f.check_box :notify %></div>
    </div>
  </div>

  <div class="row bottom-10px">
    <div class="form-group">
      <div class="col-md-12"><%= f.submit 'Update', :class => 'btn btn-large btn-primary' %></div>
    </div>
  </div>
<% end %>
